.meterPane {
  max-width: 900px;
  color: var(--color-fg);
  background: var(--color-bg);
  border-radius: 0;
  padding: 11px 16px 11px 22px;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.meterPane:first-of-type {
  border-radius: var(--pane-radius) var(--pane-radius) 0 0;
  padding-top: 11px;
  padding-bottom: 5px;
}
.meterPane:last-of-type {
  border-radius: 0 0 var(--pane-radius) var(--pane-radius);
  padding-bottom: 11px;
  padding-top: 5px;
}
.meterPane:last-of-type:first-of-type {
  padding: 11px 16px 11px 22px;
}

.meterPane p {
  margin: 0;
}

.meterRow {
  display: flex;
  flex-wrap: nowrap;
}

.meterKeyword {
  padding-right: 12px;
  flex-basis: 220px;
  flex-shrink: 0;
}

.meterBar {
  flex-grow: 2.5;
  flex-shrink: 0;
  text-align: center;
  text-shadow: 0 1px 1.5px #9a9a9a;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    var(--color-primary) 0% ,
    var(--color-primary) var(--pct),
    var(--color-bar-bg) var(--pct)
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: calc(var(--pane-radius) / 1.5);
}
